<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>C6B</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="{{ get_url(path="supreme.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="jetbrains.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <a href="/">
        C6B
      </a>
      <nav>
        <ul>
          <li><a href="/about">Company</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/contact" class="button">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
