{% extends "base.html" %}

{% block head %}
<title>{{section.title}}</title>
{% endblock head %}

{% block content %}
  <svg xmlns:xlink="http://www.w3.org/1999/xlink"	width="100%" height="100%" class="hex-grid full">
    <defs>
      <pattern id="hexagons" width="50" height="43.4" patternUnits="userSpaceOnUse" patternTransform="scale(0.6)">
        <polygon fill="#0a0d0f" stroke-width="1.2" stroke="#151b1f" points="24.8,22 37.3,29.2 37.3,43.7 24.8,50.9 12.3,43.7 12.3,29.2" id="hex" />
        <use xlink:href="#hex" x="25" />
        <use xlink:href="#hex" x="-25" />
        <use xlink:href="#hex" x="12.5" y="-21.7" />
        <use xlink:href="#hex" x="-12.5" y="-21.7" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#hexagons)" />
  </svg>
  <section class="container">
    <form name="contact" method="POST" class="contact-form" netlify>
      <h2>{{section.extra.form_title | safe}}</h2>
      <p>{{section.extra.form_description | safe}}</p>
      <div>
        <label for="email">{{section.extra.form_email_input_label}}</label>
        <input type="email" id="email" name="email" />
      </div>
      <button type="submit">{{section.extra.form_submit_button_text}}</button>
    </form>
  </section>
{% endblock content %}
