{% extends "base.html" %}

{% block head %}
<title>{{section.title}} ⬣ C6B</title>
{% endblock head %}

{% block content %}
  <svg xmlns:xlink="http://www.w3.org/1999/xlink"	width="100%" height="100%" class="hex-grid full">
    <defs>
      <pattern id="hexagons" width="50" height="43.4" patternUnits="userSpaceOnUse" patternTransform="scale(0.6)">
        <polygon fill="#0a0d0f" stroke-width="1.2" stroke="#151b1f" points="24.8,22 37.3,29.2 37.3,43.7 24.8,50.9 12.3,43.7 12.3,29.2" id="hex" />
        <use xlink:href="#hex" x="25" />
        <use xlink:href="#hex" x="-25" />
        <use xlink:href="#hex" x="12.5" y="-21.7" />
        <use xlink:href="#hex" x="-12.5" y="-21.7" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#hexagons)" />
  </svg>
  <section class="container">
    <form name="contact" action="/contact" method="POST" class="contact-form" netlify>
      <h2>{{section.extra.form_title | safe}}</h2>
      <p>{{section.extra.form_description | safe}}</p>
      <div class="fields">
        <div class="field">
          <label for="name">{{section.extra.form_name_input_label}}</label>
          <input type="text" id="name" name="name" required/>
        </div>
        <div class="field">
          <label for="email">{{section.extra.form_email_input_label}}</label>
          <input type="email" id="email" name="email" required/>
        </div>
      </div>
      <div class="field">
        <label for="position">{{section.extra.form_position_input_label}}</label>
        <input type="text" id="position" name="position" />
      </div>
      <div class="field">
        <label for="subject">{{section.extra.form_subject_input_label}}</label>
        <input type="text" id="subject" name="subject" required/>
      </div>
      <div class="field">
        <label for="message">{{section.extra.form_message_input_label}}</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div class="field">
        <label for="pitch" class="inline">
          <input type="checkbox" id="pitch" name="pitch" />
          <span>{{section.extra.form_pitch_checkbox_label}}</span>
        </label>
      </div>
      <button type="submit">{{section.extra.form_submit_button_text}}</button>
    </form>
  </section>
{% endblock content %}

{% block footer %}
<script>
  const handleSubmit = event => {
    event.preventDefault();
    const form = event.target;
    const data = new FormData(form);
    if (data.has("pitch")) {
      window.open("{{section.extra.form_pitch_pdf_url | safe}}");
    }
    fetch("/contact", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(data).toString()
    })
      .then(() => {
        form.reset();
        const toast = document.createElement("p");
        toast.classList.add("toast", "success");
        toast.innerHTML = "Thank you for submitting our contact form!";
        form.parentElement.prepend(toast);
      })
      .catch(error => alert(error));
  }

  document.querySelector("form").addEventListener("submit", handleSubmit)
</script>
{% endblock %}
