{% extends "base.html" %}

{% block head %}
<title>C6B</title>
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
  <section id="hero">
    <img src="/hero-background.jpg" />
    <div class="container">
      <h1 class="title">Large-scale biochar for<br/>large-scale agribusiness</h1>
      <p>C6B delivers world-class biochar for today's climate-smart agribusinesses.</p>
      <a href="/contact" class="button">Get in Touch</a>
    </div>
  </section>
  <section id="intro" class="container side-by-side">
    <img src="/biochar-about.jpg" />
    <div>
      <h1>What is biochar?</h1>
      <p>
        Biochar is made by subjecting
        <i class="highlight secondary">organic material</i>
        to
        <i class="highlight primary">high temperatures</i>
        in a
        <i class="highlight tertiary">zero-oxygen environment</i>. 
      </p>
      <p>This stabilizes carbon for long-term storage and creates a porous, high-surface area material with wide applications.</p>
      <a href="https://c6b-docs.onrender.com" class="button">Learn More about Biochar</a>
    </div>
  </section>
  <section id="benefits" class="container three-column-list">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink"	width="100%" height="100%" class="hex-grid">
      <defs>
        <pattern id="hexagons" width="50" height="43.4" patternUnits="userSpaceOnUse" patternTransform="scale(0.6)">
          <polygon fill="#0a0d0f" stroke-width="1.2" stroke="#151b1f" points="24.8,22 37.3,29.2 37.3,43.7 24.8,50.9 12.3,43.7 12.3,29.2" id="hex" />
          <use xlink:href="#hex" x="25" />
          <use xlink:href="#hex" x="-25" />
          <use xlink:href="#hex" x="12.5" y="-21.7" />
          <use xlink:href="#hex" x="-12.5" y="-21.7" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#hexagons)" />
    </svg>
    <h2>Benefits of Biochar</h2>
    <div>
      <ul class="hex-list">
        <li>
          <div>
            <span><b>Improve crop performance</b></span>
            <p>Enhance microbiome with a proven soil amendment.</p>
          </div>
        </li>
        <li>
          <div>
            <span><b>Sequester carbon</b></span>
            <p>Stabilize biomass carbon through anaerobic pyrolysis. Earn credits to meet emissions goals.</p>
          </div>
        </li>
        <li>
          <div>
            <span><b>Enhance soil structure</b></span>
            <p>Retain water and prevent erosion.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="about" class="container side-by-side">
    <h1>Who we are</h1>
    <div>
      <p>C6B turns waste into value for the agriculture sector. We apply the latest technologies to create reliable, carbon-negative biochar at scale. Learn more about how we work and where we come from.</p>
      <a href="/about" class="button">About Us</a>
    </div>
  </section>
  <section id="news" class="container three-column-list">
    <h2>Latest C6B News</h2>
    <ul>
      <li>
        <div>
          <div></div>
          <h3>News Item 1</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Per aliquet est hendrerit nisi fames faucibus turpis.</p>
        </div>
      </li>
      <li>
        <div>
          <div></div>
          <h3>News Item 2</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Viverra consequat habitasse proin placerat sodales; dapibus neque elementum. Erat senectus euismod augue facilisi condimentum.</p>
        </div>
      </li>
      <li>
        <div>
          <div></div>
          <h3>News Item 3</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Urna sodales dis maecenas ornare amet rutrum suspendisse viverra ultricies.</p>
        </div>
      </li>
    </ul>
    <a href="/news" class="button">All Company News</a>
  </section>
  <section id="case-studies" class="container">
    <div class="side-by-side">
      <h1>Case Studies</h1>
      <p>See how our customers use biochar to improve their products.</p>
    </div>
    <ul class="three-column-list">
      <li>
        <div>
          <div></div>
          <h3>News Item 1</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Per aliquet est hendrerit nisi fames faucibus turpis.</p>
        </div>
      </li>
      <li>
        <div>
          <div></div>
          <h3>News Item 2</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Viverra consequat habitasse proin placerat sodales; dapibus neque elementum. Erat senectus euismod augue facilisi condimentum.</p>
        </div>
      </li>
      <li>
        <div>
          <div></div>
          <h3>News Item 3</h3>
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Urna sodales dis maecenas ornare amet rutrum suspendisse viverra ultricies.</p>
        </div>
      </li>
    </ul>
  </section>
  <section id="contact-us" class="container">
    <h1 class="title">Want to connect with C6B?</h1>
    <a href="/contact" class="button">Contact us</a>
  </section>
  <div data-netlify-identity-menu></div>
{% endblock %}
