{% extends "base.html" %}

{% block head %}
<title>{{section.title}}</title>
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
  <section id="hero">
    <img src="/hero-background.jpg" />
    <div class="container">
      <h1 class="title">{{section.extra.hero_title | safe}}</h1>
      <p>{{section.extra.hero_description | safe}}</p>
      <a href="/contact" class="button">{{section.extra.hero_cta_button_text | safe}}</a>
    </div>
  </section>
  <section id="intro" class="container side-by-side">
    <img src={{section.extra.intro_image_path}} />
    <div>
      <h1>{{section.extra.intro_header | safe}}</h1>
      <p>
        {{section.extra.intro_paragraph0 | safe}}
      </p>
      <p>{{section.extra.intro_paragraph1 | safe}}</p>
      <a href="https://c6b-docs.netlify.app" class="button">{{section.extra.intro_cta_button_text}}</a>
    </div>
  </section>
  <section id="benefits" class="container three-column-list">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink"	width="100%" height="100%" class="hex-grid">
      <defs>
        <pattern id="hexagons" width="50" height="43.4" patternUnits="userSpaceOnUse" patternTransform="scale(0.6)">
          <polygon fill="#0a0d0f" stroke-width="1.2" stroke="#151b1f" points="24.8,22 37.3,29.2 37.3,43.7 24.8,50.9 12.3,43.7 12.3,29.2" id="hex" />
          <use xlink:href="#hex" x="25" />
          <use xlink:href="#hex" x="-25" />
          <use xlink:href="#hex" x="12.5" y="-21.7" />
          <use xlink:href="#hex" x="-12.5" y="-21.7" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#hexagons)" />
    </svg>
    <h2>{{section.extra.benefits_header | safe}}</h2>
    <div>
      <ul class="hex-list">
        {% for benefit in section.extra.benefits %}
        <li>
          <div>
            <span><b>{{benefit.title | safe}}</b></span>
            <p>{{benefit.description | safe}}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="about" class="container side-by-side">
    <h1>{{section.extra.about_header | safe}}</h1>
    <div>
      <p>{{section.extra.about_description | safe}}</p>
      <a href="/about" class="button">{{section.extra.about_cta_button_text}}</a>
    </div>
  </section>
  <section id="news" class="container three-column-list">
    {% set subsection = get_section(path="news/_index.md") %}
    <h2>{{subsection.title | safe}}</h2>
    <ul>
      {% for news_item in subsection.pages | slice(end=3) %}
      <li>
        <div>
          <div></div>
          <h3>{{news_item.title}}</h3>
          <p>{{news_item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    <a href="/news" class="button">{{section.extra.news_cta_button_text}}</a>
  </section>
  <section id="case-studies" class="container">
    {% set subsection = get_section(path="case-studies/_index.md") %}
    <div class="side-by-side">
      <h1>{{subsection.title | safe}}</h1>
      <p>{{subsection.description | safe}}</p>
    </div>
    <ul class="three-column-list">
      {% for case_study in subsection.pages | slice(end=3) %}
      <li>
        <div>
          <div></div>
          <h3>{{case_study.title}}</h3>
          <p>{{case_study.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="contact-us" class="container">
    <h1 class="title">{{section.extra.contact_header | safe}}</h1>
    <a href="/contact" class="button">{{section.extra.contact_cta_button_text}}</a>
  </section>
  <div id="netlify-id" data-netlify-identity-menu style="height: 0; display: none;"></div>
{% endblock %}
