{% extends "base.html" %}

{% block content %}
  <section id="hero">
    <img src="/hero-background.jpg" />
    <div id="background-overlay"></div>
    <div class="container">
      <h1 class="title">Large-scale biochar for<br/>large-scale agribusiness.</h1>
      <p>C6B delivers world-class biochar for today's climate-smart agribusinesses.</p>
      <a href="/contact" class="button">Get in Touch</a>
    </div>
  </section>
  <section id="about" class="container">
    <h1>Who we are</h1>
    <p>C6B turns waste into value for the agriculture sector. We apply the latest technologies to create reliable, carbon-negative biochar at scale. Learn more about how we work and where we come from.</p>
    <a href="/about">About Us</a>
  </section>
  <section id="intro" class="container">
    <h2>What is biochar?</h2>
    <p>Biochar is made by subjecting organic material to high temperatures in a zero-oxygen environment. This stabilizes carbon for long-term storage and creates a porous, high-surface area material with wide applications.</p>
    <h2>Benefits</h2>
    <ul>
      <li>
        <p><b>Improve crop performance</b>: Enhance microbiome with a proven soil amendment.</p>
      </li>
      <li>
        <p><b>Sequester carbon</b>: Stabilize biomass carbon through anaerobic pyrolysis. Earn credits to meet emissions goals.</p>
      </li>
      <li>
        <p><b>Enhance soil structure</b>: Retain water and prevent erosion.</p>
      </li>
    </ul>
    <a href="/resources" class="button">Learn More about Biochar</a>
  </section>
  <section id="news" class="container">
    <h1>Latest C6B News</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <a href="/news">All Company News</a>
  </section>
  <section id="case-studies" class="container">
    <h1>Case Studies</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section id="contact-us" class="container">
    <h1>Want to connect with C6B?</h1>
    <a href="/contact">Contact us</a>
  </section>
{% endblock content %}
